.card {
  width: 400px;
  height: 400px;
  background-color: cadetblue;
}

.front {
  background-color: cadetblue;
}

.back {
  background-color:darkcyan;
}

.icon {
  width: 32px;
}

.icon:hover {
  color:aqua;
}

.icon:active {
  color:white;
}

.spinout {
  animation-name: spin-out;
  animation-duration: 1s;
  color: red;
}

.spinin {
  animation: spin-in 1s;
  color: blue;
}

@keyframes spin-out {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes spin-in {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.enter {
  transform: rotateY(90deg);
  pointer-events:none;
}

.enterActive {
  transform: rotateY(0);
  transition: transform 500ms ease;
}

.exit {
  transform: rotateY(0);
  pointer-events:none;
}

.exitActive {
  transform: rotateY(90deg);
  transition: transform 500ms ease;
}
